html, body {
    font-family: 'PT Serif', serif;
    color: $gunmetal;
}

.only-desktop {
    @media (max-width: $screen-max-md) {
        display: none !important;
    }
}

.only-mobile {
    @media (min-width: $screen-min-md) {
        display: none !important;
    }
}

.home-template .gsap-fade-up{
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
}

$navHeight: 80px;
$navHeightMobile: 60px;
